@mixin header-bar($bg-color: #f7f7f7) {
    .header-bar {
        width: 100%;
        background-color: $bg-color;
        line-height: 30px;
        height: 30px;
        border-bottom: 1px solid #eee;
        .header-bar-bd {
            width: 990px;
            margin: 0 auto;
            a{
                @include hover-link;
            }
            .header-bar-bd-l {
                @include float-left;
                .header-bar-favorite {
                    li {
                        padding-left: 16px;
                        a {
                            @include base-before-after-box(before);
                            &:before {
                                top: 1px;
                                left: -16px;
                                @include icons-sprite(favorite);
                            }
                        }
                    }
                }
            }
            .header-bar-bd-r {
                @include float-right;
                @include pure-menu-background-color($bg-color);
                @include pure-menu-box(auto, 30px);
                .header-bar-userinfo {
                    @include float-left;
                    height: 30px;
                    padding-left: 12px;
                    padding-right: 11px;
                    > li {
                        @include float-left;
                        a {
                            margin-left: 5px;
                        }
                    }
                }
                .header-bar-navigate {
                    @include float-left;
                    margin-top: -2px;
                    > .pure-menu-children {
                        > .pure-menu-item {
                            @include base-before-after-box(before);
                            &:before {
                                top: 9px;
                                left: 0;
                                height: 12px;
                                width: 1px;
                                background-color: #DDD;
                            }
                            > .pure-menu-label {
                                padding-left: 12px;
                                padding-right: 11px;
                            }
                            &.pure-menu-can-have-children {
                                > .pure-menu-label {
                                    padding-right: 20px;
                                    &:after {
                                        margin-right: -12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
