@import "compass/reset";
@import "compass/typography";
@import "compass/utilities";
@import "compass/css3";

$icons-layout: smart;
$icons-sprite-dimensions: true;

@mixin base-before-after-box($pos: both) {
    position: relative;
    @if $pos == both or $pos == before {
        &:before {
            content: "";
            position: absolute;
        }
    }
    @if $pos == both or $pos == after {
        &:after {
            content: "";
            position: absolute;
        }
    }
}

.hide {
    display: none;
}
