@import "compass/reset";
@import "compass/typography";
@import "compass/utilities";
@import "compass/css3";

$icons-layout: smart;
$icons-sprite-dimensions: true;

@mixin base-before-after-box($pos: both) {
    position: relative;
    @if $pos == both or $pos == before {
        &:before {
            content: "";
            position: absolute;
        }
    }
    @if $pos == both or $pos == after {
        &:after {
            content: "";
            position: absolute;
        }
    }
}

@mixin pure-menu-background-color($bg-color: #fff) {
    .pure-menu.pure-menu-open, .pure-menu.pure-menu-horizontal li .pure-menu-children {
        background-color: $bg-color;
    }
}

@mixin pure-menu-box($width: 100%, $height: auto) {
    .pure-menu.pure-menu-open {
        width: $width;
        height: $height;
    }
}

.hide {
    display: none;
}
