/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 25, ../scss/base.scss */
.hide {
  display: none;
}

/* line 42, icons/*.png */
.icons-sprite, .header .header-bd .header-bd-l .header-favorite li a:before {
  background: url('/static/assets/images/icons-scea409d063.png') no-repeat;
}

/* line 1, ../../mojits/modules/header/assets/scss/header.scss */
.header {
  width: 100%;
  background-color: #f7f7f7;
  line-height: 30px;
  height: 30px;
  border-bottom: 1px solid #eee;
}
/* line 7, ../../mojits/modules/header/assets/scss/header.scss */
.header .header-bd {
  width: 990px;
  margin: 0 auto;
}
/* line 10, ../../mojits/modules/header/assets/scss/header.scss */
.header .header-bd a {
  text-decoration: none;
}
/* line 4, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
.header .header-bd a:hover {
  text-decoration: underline;
}
/* line 14, ../../mojits/modules/header/assets/scss/header.scss */
.header .header-bd > ul > li {
  display: inline;
  float: left;
  padding: 0 11px 0 12px;
}
/* line 19, ../../mojits/modules/header/assets/scss/header.scss */
.header .header-bd .header-bd-l {
  display: inline;
  float: left;
}
/* line 22, ../../mojits/modules/header/assets/scss/header.scss */
.header .header-bd .header-bd-l .header-favorite li {
  padding-left: 16px;
}
/* line 24, ../../mojits/modules/header/assets/scss/header.scss */
.header .header-bd .header-bd-l .header-favorite li a {
  position: relative;
}
/* line 12, ../scss/base.scss */
.header .header-bd .header-bd-l .header-favorite li a:before {
  content: "";
  position: absolute;
}
/* line 26, ../../mojits/modules/header/assets/scss/header.scss */
.header .header-bd .header-bd-l .header-favorite li a:before {
  top: 1px;
  left: -16px;
  background-position: 0 0;
  height: 13px;
  width: 13px;
}
/* line 35, ../../mojits/modules/header/assets/scss/header.scss */
.header .header-bd .header-bd-r {
  display: inline;
  float: right;
}
/* line 37, ../../mojits/modules/header/assets/scss/header.scss */
.header .header-bd .header-bd-r .header-userinfo {
  display: inline;
  float: left;
  height: 30px;
  padding: 0 11px 0 12px;
}
/* line 41, ../../mojits/modules/header/assets/scss/header.scss */
.header .header-bd .header-bd-r .header-userinfo > li {
  display: inline;
  float: left;
}
/* line 43, ../../mojits/modules/header/assets/scss/header.scss */
.header .header-bd .header-bd-r .header-userinfo > li a {
  margin-left: 5px;
}
/* line 48, ../../mojits/modules/header/assets/scss/header.scss */
.header .header-bd .header-bd-r .header-navigate {
  display: inline;
  float: left;
}
/* line 50, ../../mojits/modules/header/assets/scss/header.scss */
.header .header-bd .header-bd-r .header-navigate > li {
  display: inline;
  float: left;
  height: 30px;
  padding: 0 11px 0 12px;
  position: relative;
  z-index: 10;
}
/* line 56, ../../mojits/modules/header/assets/scss/header.scss */
.header .header-bd .header-bd-r .header-navigate > li > a, .header .header-bd .header-bd-r .header-navigate > li > span {
  position: relative;
}
/* line 12, ../scss/base.scss */
.header .header-bd .header-bd-r .header-navigate > li > a:before, .header .header-bd .header-bd-r .header-navigate > li > span:before {
  content: "";
  position: absolute;
}
/* line 18, ../scss/base.scss */
.header .header-bd .header-bd-r .header-navigate > li > a:after, .header .header-bd .header-bd-r .header-navigate > li > span:after {
  content: "";
  position: absolute;
}
/* line 58, ../../mojits/modules/header/assets/scss/header.scss */
.header .header-bd .header-bd-r .header-navigate > li > a:before, .header .header-bd .header-bd-r .header-navigate > li > span:before {
  top: 1px;
  left: -12px;
  height: 13px;
  width: 1px;
  background-color: #DDD;
}
/* line 67, ../../mojits/modules/header/assets/scss/header.scss */
.header .header-bd .header-bd-r .header-navigate > li.hover > a:after {
  z-index: 1;
  top: 25px;
  left: 6px;
  width: 73px;
  height: 6px;
  overflow: hidden;
  background: #fff;
}
/* line 76, ../../mojits/modules/header/assets/scss/header.scss */
.header .header-bd .header-bd-r .header-navigate > li.hover .header-single-dropdown, .header .header-bd .header-bd-r .header-navigate > li.hover .header-multi-dropdown {
  display: block;
}
/* line 80, ../../mojits/modules/header/assets/scss/header.scss */
.header .header-bd .header-bd-r .header-navigate > li .header-single-dropdown, .header .header-bd .header-bd-r .header-navigate > li .header-multi-dropdown {
  display: none;
  position: absolute;
  border: 1px solid #ddd;
  background-color: white;
  -webkit-box-shadow: 0 0 10px #dddddd;
  -moz-box-shadow: 0 0 10px #dddddd;
  box-shadow: 0 0 10px #dddddd;
  left: 5px;
  top: 30px;
  z-index: -1;
}
/* line 89, ../../mojits/modules/header/assets/scss/header.scss */
.header .header-bd .header-bd-r .header-navigate > li .header-single-dropdown li, .header .header-bd .header-bd-r .header-navigate > li .header-multi-dropdown li {
  padding: 0 6px;
  line-height: 22px;
}
/* line 94, ../../mojits/modules/header/assets/scss/header.scss */
.header .header-bd .header-bd-r .header-navigate > li .header-multi-dropdown {
  display: block;
}
/* line 96, ../../mojits/modules/header/assets/scss/header.scss */
.header .header-bd .header-bd-r .header-navigate > li .header-multi-dropdown dl {
  display: inline;
  float: left;
}

/* line 5, ../../mojits/pages/homepage/assets/scss/homepage.scss */
body {
  font: 12px/150% Verdana,"\5b8b\4f53";
  color: #333;
}
/* line 8, ../../mojits/pages/homepage/assets/scss/homepage.scss */
body a {
  color: #333;
}
/* line 10, ../../mojits/pages/homepage/assets/scss/homepage.scss */
body a:link, body a:visited {
  color: #333;
}
/* line 13, ../../mojits/pages/homepage/assets/scss/homepage.scss */
body a:hover {
  color: #c00;
}
