/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 38, ../scss/base.scss */
.hide {
  display: none;
}

/* line 42, icons/*.png */
.icons-sprite, .header-bar .header-bar-bd .header-bar-bd-l .header-bar-favorite li a:before {
  background: url('/static/assets/images/icons-scea409d063.png') no-repeat;
}

/* line 2, ../../mojits/modules/headerBar/assets/scss/index.scss */
.header-bar {
  width: 100%;
  background-color: #f7f7f7;
  line-height: 30px;
  height: 30px;
  border-bottom: 1px solid #eee;
}
/* line 8, ../../mojits/modules/headerBar/assets/scss/index.scss */
.header-bar .header-bar-bd {
  width: 990px;
  margin: 0 auto;
}
/* line 11, ../../mojits/modules/headerBar/assets/scss/index.scss */
.header-bar .header-bar-bd a {
  text-decoration: none;
}
/* line 4, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
.header-bar .header-bar-bd a:hover {
  text-decoration: underline;
}
/* line 14, ../../mojits/modules/headerBar/assets/scss/index.scss */
.header-bar .header-bar-bd .header-bar-bd-l {
  display: inline;
  float: left;
}
/* line 17, ../../mojits/modules/headerBar/assets/scss/index.scss */
.header-bar .header-bar-bd .header-bar-bd-l .header-bar-favorite li {
  padding-left: 16px;
}
/* line 19, ../../mojits/modules/headerBar/assets/scss/index.scss */
.header-bar .header-bar-bd .header-bar-bd-l .header-bar-favorite li a {
  position: relative;
}
/* line 12, ../scss/base.scss */
.header-bar .header-bar-bd .header-bar-bd-l .header-bar-favorite li a:before {
  content: "";
  position: absolute;
}
/* line 21, ../../mojits/modules/headerBar/assets/scss/index.scss */
.header-bar .header-bar-bd .header-bar-bd-l .header-bar-favorite li a:before {
  top: 1px;
  left: -16px;
  background-position: 0 0;
  height: 13px;
  width: 13px;
}
/* line 30, ../../mojits/modules/headerBar/assets/scss/index.scss */
.header-bar .header-bar-bd .header-bar-bd-r {
  display: inline;
  float: right;
}
/* line 26, ../scss/base.scss */
.header-bar .header-bar-bd .header-bar-bd-r .pure-menu.pure-menu-open, .header-bar .header-bar-bd .header-bar-bd-r .pure-menu.pure-menu-horizontal li .pure-menu-children {
  background-color: #f7f7f7;
}
/* line 32, ../scss/base.scss */
.header-bar .header-bar-bd .header-bar-bd-r .pure-menu.pure-menu-open {
  width: auto;
  height: 30px;
}
/* line 34, ../../mojits/modules/headerBar/assets/scss/index.scss */
.header-bar .header-bar-bd .header-bar-bd-r .header-bar-userinfo {
  display: inline;
  float: left;
  height: 30px;
  padding-left: 12px;
  padding-right: 11px;
}
/* line 39, ../../mojits/modules/headerBar/assets/scss/index.scss */
.header-bar .header-bar-bd .header-bar-bd-r .header-bar-userinfo > li {
  display: inline;
  float: left;
}
/* line 41, ../../mojits/modules/headerBar/assets/scss/index.scss */
.header-bar .header-bar-bd .header-bar-bd-r .header-bar-userinfo > li a {
  margin-left: 5px;
}
/* line 46, ../../mojits/modules/headerBar/assets/scss/index.scss */
.header-bar .header-bar-bd .header-bar-bd-r .header-bar-navigate {
  display: inline;
  float: left;
  margin-top: -2px;
}
/* line 50, ../../mojits/modules/headerBar/assets/scss/index.scss */
.header-bar .header-bar-bd .header-bar-bd-r .header-bar-navigate > .pure-menu-children > .pure-menu-item {
  position: relative;
}
/* line 12, ../scss/base.scss */
.header-bar .header-bar-bd .header-bar-bd-r .header-bar-navigate > .pure-menu-children > .pure-menu-item:before {
  content: "";
  position: absolute;
}
/* line 52, ../../mojits/modules/headerBar/assets/scss/index.scss */
.header-bar .header-bar-bd .header-bar-bd-r .header-bar-navigate > .pure-menu-children > .pure-menu-item:before {
  top: 9px;
  left: 0;
  height: 12px;
  width: 1px;
  background-color: #DDD;
}
/* line 59, ../../mojits/modules/headerBar/assets/scss/index.scss */
.header-bar .header-bar-bd .header-bar-bd-r .header-bar-navigate > .pure-menu-children > .pure-menu-item > .pure-menu-label {
  padding-left: 12px;
  padding-right: 11px;
}
/* line 64, ../../mojits/modules/headerBar/assets/scss/index.scss */
.header-bar .header-bar-bd .header-bar-bd-r .header-bar-navigate > .pure-menu-children > .pure-menu-item.pure-menu-can-have-children > .pure-menu-label {
  padding-right: 20px;
}
/* line 66, ../../mojits/modules/headerBar/assets/scss/index.scss */
.header-bar .header-bar-bd .header-bar-bd-r .header-bar-navigate > .pure-menu-children > .pure-menu-item.pure-menu-can-have-children > .pure-menu-label:after {
  margin-right: -12px;
}

/* line 5, ../../mojits/pages/homepage/assets/scss/homepage.scss */
body {
  font: 12px/150% Verdana,"\5b8b\4f53";
  color: #333;
}
/* line 8, ../../mojits/pages/homepage/assets/scss/homepage.scss */
body a {
  color: #333;
}
/* line 10, ../../mojits/pages/homepage/assets/scss/homepage.scss */
body a:link, body a:visited {
  color: #333;
}
/* line 13, ../../mojits/pages/homepage/assets/scss/homepage.scss */
body a:hover {
  color: #c00;
}
